<web-app>
	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>dburl</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>system</param-value>
	</context-param>
	<context-param>
		<param-name>dbpwd</param-name>
		<param-value>admin</param-value>
	</context-param>
	<servlet>
		<servlet-name>d</servlet-name>
		<servlet-class>com.app.servlet.DBServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>d</servlet-name>
		<url-pattern>/dburl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>h</servlet-name>
		<servlet-class>com.app.servlet.HeaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>h</servlet-name>
		<url-pattern>/headurl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>e</servlet-name>
		<servlet-class>com.app.servlet.ErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>e</servlet-name>
		<url-pattern>/eurl</url-pattern>
	</servlet-mapping>
</web-app>
